body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

ul{
    list-style: none;
    display: flex;
    margin: 0;
    gap: 15px;
    align-items: center;
}

a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 17px;
}

.logo{
    color: #f9faf8;
    font-size: 20px;
    font-weight: bold;
}

.header{
    display: flex;
    background-color: #0b0f14;
    justify-content: space-between;
    padding: 20px 30px;
   
}


.hero img, 
.herotext{
    height: 200px;
    width: 400px;
    border-radius:10px ;
}

.hero img{
    border: 1px solid #212f42;
}


.herotext{
    font-size: 30px;
    color: #f9faf8;
    font-weight: 900;
   
}

.hero p{
    font-size: 18px;
    margin: 0;
    padding: 5px 4px;
    font-weight: 100;
}

.hero button{
    background: #3882f6;
    padding: 5px 20px;
    border-radius: 4px;
    border: 1px solid #212f42;
    
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 30px;
    background-color: #212f42;
}






.info{
    text-align: center;
    font-size: 25px;
    padding: 20px;
    font-weight: 900;
    color: #1f2937;
}

.acapella img {
    width: 250px;
    height: 200px;
    border-radius: 5px;

}

.pixcontainer{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.vee{
    width: 250px;
    height: 200px;
}

.text{
    text-align: center;
}

.acapella{
    padding-bottom: 70px;
}


.quote{
    width: 560px;
    font-size: 20px;
    font-weight: 900;
}

.conquote{
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 70px;
}

.author{
    width: 530px;
    text-align: right;
    padding: 4px;
    font-size: 20px;
}

.oli{
    background-color: #3882f6;
    width: 600px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 6px;
    padding: 20px;
}

.overall{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 40px;
}

.suboli{
    color: #e5e7eb;
    font-size: 20px;
    font-weight: 900;
}

.oli button{
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 5px 25px;
    border-radius: 5px;
    border: 1px solid #e5e7eb;
}



.try{
    font-size: 15px;
    font-weight: 100;
   
}

.footer{
    background-color: #0b0f14;
    display: flex;
    justify-content: center;
}

.footext{
    color: #e5e7eb;
    font-size: 20px;
    padding: 20px;
}